body {
    background-image: url("./hintergrund/imag.jpg");
    background-repeat: inherit;
}
h1 {
    text-align: center;

    text-shadow:0 0 5px #000000;


    
    color: white;
    font-size: 60px;
}
p {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
text-align: center;
color: red;
font-size: 40px;
}